@import '../mixins/exit';
$delay: 0.5;
$delay-apre: 0.2;
$durationInfo: 0.5;



.imgProject {
   .tituloProject{
       margin: 10px 9%;
   } 

  .planProject{
      margin-left: 6%;
  }
  .planProject:hover{
    cursor: pointer;
   }
}

.projeto-area {
    display: none;
    width: 100%;
    padding: 100px;
    height: 120vh;
    position: fixed;
    margin-top: -165%;
    animation: show ($durationInfo + s) linear ($delay-apre + s) forwards;
    opacity: 0;

    .divProjetos{  
        width: 100%;
        padding: 10px;
        margin: 100px auto;
        text-align: center;
        border-radius: 10px;

    }
    .tituloProjects {
        margin-bottom: 10%;
        h3 {
            color: #fff500;
            font-family: 'Audiowide', sans-serif;
        }
        .exitProjects {
            @include exitStyles();
        }
    }
  

    .projects-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects {
        border: #fff solid 2px;
        width: 305px;
        margin: auto;
    }
    img {
        max-width: 300px;
    }
    .build {
        margin: 100px auto;
        background-color: #000;
        width: 300px;
        border: #fff solid 2px;
        padding: 10px;

        h4 {
            color: #fff500;
            font-size: 30px;
            font-family: 'Audiowide', sans-serif;
        }
        img {
            width: 50px;
            margin: 30px;
        }
    }
    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
