.imgUrano {
    text-align: center;
    margin-left: 800px;
    :hover{
        cursor: pointer;
    }
}

.conhecimentos-area {
    background-color: hsla(0, 0%, 0%, 50%);
    border: #FFF 1px solid;
    width: 62%;
    height: 60vh;
    position: relative;
    left: 100px;
    margin-top: -300px;
    display: none;
    bottom: 50px;
    padding: 10px;
    border-radius: 10px;

    .titulo-skills {
        text-align: center;
        margin: auto 200px;

        h3 {
            color: #FFF500;
        }
        .exit-skills {
            color: #FFF;
            font-weight: bolder;
            border: none;
            background: none;
            font-size: 20px;
            float: right;
            left: 190px;
            margin-top: 10px;
            position: relative;
            cursor: pointer;
        }
    }

    .skills {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        align-items: center;
        margin-top: 10px;

        .conhecimentos-box {
            margin: 20px 50px 50px 0px;
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    }
}