@import '../mixins/exit';

.imgUrano {
    margin-right: 60px;
    text-align: right;
    
    :hover{
        cursor: pointer;
    }
}

.conhecimentos-area {
    .skillsDev{
        position: fixed;
        margin-top: -129%;
        padding: 110px;
        width: 100%;
        height: 105vh;
        display: none;

    }

    .divSkills{
        border: #FFF 1px solid;
        text-align: center;
        padding: 10px;
        width: 60%;
        height: 420px;
        margin: 5px auto;
        border-radius: 10px;
    }

    .titulo-skills {
        text-align: center;
        margin: auto 200px;

        h3 {
            color: #FFF500;
        }
        .exit-skills {
            @include exitStyles();
            left: 200px;
            position: relative;
        }
    }

    .skills {
        text-align: center;
        margin: auto;
        align-items: center;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .conhecimentos-box {
            margin: 20px 50px 50px 0px;
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    }
}