@import '../mixins/exit';

    .imgNetuno {
        margin-top: 20%;

        :hover {
            cursor: pointer;
        }
    }

    .sobre-area {
        .sobre-dev {
            transition: max-height 1s;
        }

        .divText {
            display: none;
            position: fixed;
            margin-top: -105%;
            padding: 100px;
            width: 100%;
            
            
            .textSobre{
                width: 40%;
                border: #FFF solid 1px;
                border-radius: 10px;
                padding: 10px;
                height: 70vh;
                margin: 50px auto;
            }

            h3 {
                color: #FFF500;
                text-align: center;
                font-size: 30px;
                margin-bottom: 50px;
                margin-top: 20px;
            }

            p {
                justify-content: center;
                font-size: 20px;
            }

            .exit {
               @include exitStyles();
            }
        }
    }