@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



*{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-decoration: none;  
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
:root{
    --font-primary:"Baloo Da 2",serif;
    --font-secundary:"Josefin Slab", serif;
    --font-action:"Mulish", serif;
    --color-primary:#212038;
    --color-secondary:#0735cc;
    --color-terciary:#21203886;
}
main,footer{
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.row{
    margin: 0;
}

header{
    width: 100%;
    height: 90vh;
    display: flex;
}
.titulo{
    color: #000;
    margin: 5% 0 10px ;
    font-size: 40px;
    text-align: center;
    text-decoration: underline 3px blue;
}
/*header*/
.navbar{
    top: 0;
    background-color: #001868cc;
    height: 100%;
    width: 100%;
    max-height: 6%;
    font-size: 20px;
    justify-content: space-between;
    color: #000;
    margin: auto;
    align-items: center;
}
.icone{
    display:none;
}
.nav-item{
    color: #fff;
    font-size: 20px;
}

.nav-item:hover{
    color: rgba(255, 255, 255, 0.678);
    cursor: pointer;
}
.navbar-brand p{
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
}
.navbar-brand:hover{
    color: #fff;
    cursor: pointer;
}
.navbar-icon a > i{
    color: #fff;
    padding: 3px;
    font-size: 30px;
}
.navbar-icon a > i:hover{
    color: rgba(255, 255, 255, 0.678);
    cursor: pointer;
}

.banner{
    position: absolute;
    top: 35%;
    left: 15%;
}
.img-wrapper{
    text-align: center;
    margin-top: 6%;
    margin-left: 30%;
    animation: flip 1s 0.5s forwards;
    opacity: 0;
}
.img-wrapper img{
    width: 100%;
    max-width: 600px;
}
@keyframes flip {
   0%{
       transform:  rotateX(150deg);
   }
   100%{
       transform: rotateX(0deg);
       opacity: 1;
   }
}
@keyframes movebanner{
    0%{
        transform: translate(10rem) rotateY(-30deg);
    }
    100%{
        transform: translate(0rem) rotateY(0);
        opacity: 1;
    }
}
@keyframes pisca{
    0%{
        opacity:1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}
.banner h1{
    color: #000;
    font-size: 4rem;
    font-family:var(--font-primary);
    font-weight: 300;
    line-height: 4.5rem;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.363);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 0.5s forwards;
    
}
.banner h2 {
    font-family: var(--font-secundary);
    color: #000;
    font-size: 3rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0,.4 );
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 0.7s forwards;
}
.plus{
    text-align: center;
    margin-top: 6%;
    font-size: 40px;
    color: #000;
}
.plus i{
    cursor: pointer;
    animation: pisca 1s infinite ease;
}
.plus i:hover{
    animation: none;
}

/* projetos */
#projetos-area{
    margin-top: 5%;
}
.container-fluid {
    padding: 0;
    margin: 0%;
}
.container-fluid h3{
    margin-top: -5px;
}
.card{
    align-items: center;
    width: 100%; 
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
}
.card img{
    display: block;
    position: relative;
    width: 100%;
    max-width: 700px;
    height: auto;
}
.content{
    text-align: center;
    color: #fff;
}
.name{
    margin-top: 40px;
    font-size: 30px;
}
.desc{
    font-size: 17px;
    margin-top: 10px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 94%;
    height: 100%;
    background:#001868da ;
    opacity: 0;
    transition: ease .5s;
}
.overlay:hover{opacity: 1;}
.card p {
    text-align: center;
}
.text-area{
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    height: 40%;
    width: 30%;
}
.text-area p {
    color: #000;
}
.btn-projeto{
    background-color: #fff;
    border-radius: 5px;
    padding: 2%;
    margin-top: 9%;
    width: 98%;
}
.btn-projeto a{
    color: #000;
    text-decoration: none;
    list-style: none;
}
.btn-projeto a:hover{
    text-decoration: none;
    color: #000;
}
.btn-projeto:hover{
    background-color: rgba(255, 255, 255, 0.795);
}
/*Conhecimentos*/

.conhecimentos-box{
    margin-bottom: 50px;
    padding: 0;
}

.conhecimentos-box i{
    vertical-align: middle;
    margin: auto;
    font-size: 50px;
    margin-bottom: 10px;
}
.conhecimentos-box h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 1px;
    color: #000;
}

/* sobre eu */
.sobre-area{
    background-color: rgba(248, 248, 248, 0.986);
    margin-top: 10%;
}
.main-title::after{
    content: "";
    border-top: 2px solid #fff;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.sobre-title{
    color: #000;
    text-align: justify;
    font-size: 20px;
    max-width: 800px;
    width: 100%;
    margin-top: 1%;
}

.comentario{
    text-align: start;
    color:blue;
}
.comentario2{
    text-align: end;
    color: blue;
}

/*Contato*/

.contato-box{
    text-align: center;
    margin: 10px ;
    padding: 0%;
}
.contato-box i{
    font-size: 40px;
    margin-bottom: 10px;
}
.contato-box h4{
    font-size: 30px;
}


/* rodapé */

footer p{
    text-align: center;
    color: #fff;
    background-color: #001868;
    padding: 0;
    margin: 0;
}
/*Animação*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-50px,0,0);
}
[data-anime="right"]{
    transform: translate3d(50px,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/*resposividade*/
@media screen and (max-width:768px){
    html,body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .navbar-brand{
        text-align: center;
        font-size: 25px;
        margin: 0;
        top: 50%;
    }
    button.icone{
        display: block;
        color: #fff;
        font-size: 30px;
        border: 0 transparent;
        background-color: transparent;
        cursor: pointer;
    }
    button.icone:hover{
        color: rgba(255, 255, 255, 0.685);
        border: 0 transparent;
    }
    .navbar{
        max-height: 20%;
        z-index: 999;
        overflow: hidden;
        margin: auto;
        position: relative;
        align-items: center;
    }
    #nav{
        display: none; 
    }
    a.nav-item.nav-link{
        padding: 5px;
        text-align:right;
        margin-left: 390px;
    }
    .nav-item{
        z-index: 999;
        font-size: 16px;
        align-items: center;
    }
    div.navbar-icon{
        margin: 0;
    }
    #nav.active{
        display: flex;
        margin: auto;
        transition: .2s ease;
    }
    button.icone:focus{
        outline: none;
    }
    /*banner*/
    .img-wrapper img{
        max-width: 400px;
        margin-left: 10%;
    }
    .banner h1{
        margin-top: 10%;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .banner h2{
        font-size: 1.3rem;
    }
    /*sobre*/
    .sobre-title{
        font-size: 16px;
        text-align: justify;
        width: 100%;
        max-width: 500px;
    }
    /*conhecimentos*/
    .conhecimentos-box i {
        font-size: 50px;
    }
    .titulo{
        margin-top: 5%;
        margin-bottom: 10%;
    }
    /*projetos*/
    .card{
        max-width:100%;
        width: 450px;
        max-height: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .card img{
        max-width: 100%;
    }
    /*contato*/
    .contato-box{
        margin: auto 10px;
    }
    .contato-box i{
        margin: auto;
    }
    .contato-box h4{
        font-size: 16px;
        text-align: center;
    }
}
@media (max-width:677px){
    div.conhecimentos-box{
        width: 150px;
        height: auto;
        margin: 10px;
    }
    .plus{
        margin-top: 11% ;
    }
    .contato-box i{
        text-align: center;
    }
    .email i{
        margin-left: 50%;
    }
}
@media screen and (max-width:360px){
    /*Home*/
    .banner h1{
        font-size: 30px;
        margin: 10px auto;
    }
    .banner h2{
        font-size: 20px;
    }
    .navbar-brand{
        margin: auto;
        font-size: 20px;
    }
    /*Conhecimentos*/
    .conhecimentos-box{
        margin-bottom: 5px;
        margin: auto;
    }
    .conhecimentos-box i {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    /*Sobre*/
    .img-fluid{
        width: 100%;
    }
    .sobre-title{
        border: 0;
        font-size: 10px;
    }

    /*Projetos*/
    .card{
        width: 100%;
        height: auto;
        margin-top:10%;
    }
    .card-footer{
        width: 100%;
    }
    .text-area{
        border: 0;
        font-size: 10px;
    }
    /*Contato*/
    .contato-box h3{
        text-align: center;
        margin-top: 10px;
    }

}
