@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.menu-nav {
  display: flex;
  list-style: none;
  float: right;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 20px;
  align-items: center;
  opacity: 0;
  -webkit-animation: show 7s linear 0.5s forwards;
          animation: show 7s linear 0.5s forwards;
}
.menu-nav .itens {
  color: #fff;
  outline: none;
  text-decoration: none;
  margin: 0px 50px 0px 0px;
  font-size: 20px;
  font-family: "Cormorant Garamond 600", serif;
  transition: ease 0.5s;
}

.nav button {
  display: none;
}

.logo {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.logo img {
  width: 150px;
  margin-left: 50px;
  opacity: 0;
  -webkit-animation: show 7s linear 0.5s forwards;
          animation: show 7s linear 0.5s forwards;
}
.logo img:hover {
  cursor: pointer;
}

.icone-bars {
  display: none;
}

.itens:hover {
  color: rgba(255, 255, 255, 0.63);
  border-radius: 5px;
}

@media (max-width: 428px) {
  .nav {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: -1px;
    left: -0.1px;
    position: absolute;
    -webkit-animation: show 0.5s linear 0.2s forwards;
            animation: show 0.5s linear 0.2s forwards;
    opacity: 0;
    position: fixed;
  }
  .nav button {
    display: block;
    float: right;
    font-size: 30px;
    background: transparent;
    border: none;
    margin-top: 34px;
    margin-right: 25px;
    position: relative;
  }

  .menu-nav {
    display: block;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    text-align: center;
    width: 55%;
  }
  .menu-nav li {
    margin-bottom: 100px;
    position: relative;
    top: 80px;
  }
  .menu-nav .itens {
    text-align: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icone-bars {
    display: block;
    align-items: center;
    float: right;
    justify-content: center;
  }
  .icone-bars button {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    opacity: 0;
    -webkit-animation: show 7s linear 0.5s forwards;
            animation: show 7s linear 0.5s forwards;
  }

  .logo {
    position: absolute;
    margin-top: -4px;
  }
  .logo img {
    width: 120px;
    margin-left: -10px;
    align-items: center;
    justify-content: center;
  }
}
.imgSobre {
  margin-top: 30%;
}
.imgSobre .tituloSobre {
  margin: 10px 15%;
}
.imgSobre .tituloSobre img {
  -webkit-animation: zoomTitle ease-in-out infinite 3s;
          animation: zoomTitle ease-in-out infinite 3s;
}
.imgSobre .planSobre {
  margin-left: 6%;
}
.imgSobre .planSobre :hover {
  cursor: pointer;
}
.imgSobre .planSobre img {
  -webkit-animation: zoomPlanet ease-in-out infinite 3s;
          animation: zoomPlanet ease-in-out infinite 3s;
}

.sobre-area .sobre-dev {
  transition: max-height 1s;
}
.sobre-area .divText {
  display: none;
  position: fixed;
  z-index: 999;
  margin-top: -100%;
  width: 100%;
  -webkit-animation: show 0.5s linear 0.2s forwards;
          animation: show 0.5s linear 0.2s forwards;
  opacity: 0;
}
.sobre-area .divText .textSobre {
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  height: 80vh;
  margin: 10% auto;
  justify-content: center;
  font-size: 20px;
}
.sobre-area .divText h3 {
  color: #fff500;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  font-family: "Audiowide", sans-serif;
}
.sobre-area .divText p {
  justify-content: center;
  font-size: 20px;
}
.sobre-area .divText h4 {
  font-size: 20px;
}
.sobre-area .divText .btnCv {
  text-align: right;
  margin-top: 20px;
  position: relative;
}
.sobre-area .divText .btnCv :hover {
  cursor: pointer;
}
.sobre-area .divText .btnCv button {
  font-family: "Audiowide", sans-serif;
  background: transparent;
  padding: 15px;
  font-size: 16px;
  color: #fff500;
  border: 3px solid #fff;
  border-radius: 10px;
}
.sobre-area .divText .btnCv button a {
  outline: none;
  text-decoration: none;
}
.sobre-area .divText .exit {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  transition: ease 0.3s;
  position: relative;
  top: 50px;
  right: 20px;
}
.sobre-area .divText .exit :hover {
  cursor: pointer;
  transform: scale(1.2);
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 428px) {
  .imgSobre {
    margin-top: 45%;
    margin-right: 100%;
  }
  .imgSobre .tituloSobre img {
    width: 150px;
    margin-left: 50px;
  }
  .imgSobre .planSobre img {
    width: 250px;
  }

  .sobre-area .divText {
    margin-top: -215%;
    height: 110vh;
  }
  .sobre-area .divText p {
    font-size: 18px;
  }
  .sobre-area .divText h3 {
    margin-top: 100px;
    font-size: 25px;
  }
  .sobre-area .divText .textSobre {
    width: 100%;
  }
  .sobre-area .divText .btnCv {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .sobre-area .divText .exit {
    top: 30px;
    left: 5px;
  }
}
.imgSkills {
  margin: 10% 9% 0 0;
  text-align: right;
}
.imgSkills .tituloSkills {
  margin: 10px 10%;
}
.imgSkills .tituloSkills img {
  -webkit-animation: zoomTitle ease-in-out infinite 3s;
          animation: zoomTitle ease-in-out infinite 3s;
}
.imgSkills .planSkills img {
  -webkit-animation: zoomPlanet ease-in-out infinite 3s;
          animation: zoomPlanet ease-in-out infinite 3s;
}
.imgSkills .planSkills img:hover {
  cursor: pointer;
}

.conhecimentos-area .skillsDev {
  position: fixed;
  margin-top: -130%;
  -webkit-animation: show 0.5s linear 0.2s forwards;
          animation: show 0.5s linear 0.2s forwards;
  z-index: 999;
  opacity: 0;
  width: 100%;
  height: 135vh;
  display: none;
}
.conhecimentos-area .divSkills {
  text-align: center;
  width: 70%;
  padding: 10px;
  height: 420px;
  margin: 100px auto;
  border-radius: 10px;
}
.conhecimentos-area .divSkills .exit-skills {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  transition: ease 0.3s;
  left: 200px;
  position: relative;
  top: -50px;
}
.conhecimentos-area .divSkills .exit-skills :hover {
  cursor: pointer;
  transform: scale(1.2);
}
.conhecimentos-area .titulo-skills {
  text-align: center;
  margin: auto 200px;
}
.conhecimentos-area .titulo-skills h3 {
  color: #FFF500;
  margin-top: 10%;
  margin-bottom: 20%;
  font-family: "Audiowide", sans-serif;
}
.conhecimentos-area .skills {
  text-align: center;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.conhecimentos-area .skills .conhecimentos-box {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.conhecimentos-area .skills .conhecimentos-box img {
  width: 50px;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 428px) {
  .imgSkills {
    margin-top: 25%;
    margin-left: 35%;
  }
  .imgSkills .tituloSkills img {
    max-width: 150px;
  }
  .imgSkills .planSkills img {
    width: 250px;
  }

  .conhecimentos-area .skillsDev {
    margin-top: -300%;
  }
  .conhecimentos-area .divSkills .exit-skills {
    left: 70px;
    top: -5px;
  }
  .conhecimentos-area .titulo-skills {
    text-align: center;
    margin: 50% auto 0px;
  }
  .conhecimentos-area .titulo-skills h3 {
    font-size: 30px;
  }
  .conhecimentos-area .skills {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
  }
  .conhecimentos-area .skills .conhecimentos-box {
    margin: 20px;
  }
  .conhecimentos-area .skills .conhecimentos-box p {
    font-size: 25px;
  }
  .conhecimentos-area .skills .conhecimentos-box img {
    width: 40px;
  }
}
.imgProject .tituloProject {
  margin: 10px 9%;
}
.imgProject .tituloProject img {
  -webkit-animation: zoomTitle ease-in-out infinite 3s;
          animation: zoomTitle ease-in-out infinite 3s;
}
.imgProject .planProject {
  margin-left: 6%;
}
.imgProject .planProject img {
  -webkit-animation: zoomPlanet ease-in-out infinite 3s;
          animation: zoomPlanet ease-in-out infinite 3s;
}
.imgProject .planProject img:hover {
  cursor: pointer;
}

.projeto-container {
  display: none;
  width: 100%;
  height: 135vh;
  position: fixed;
  margin-top: -170%;
  overflow-y: scroll;
  scrollbar-width: thin;
  z-index: 999;
}
.projeto-container .tituloProjects {
  margin-bottom: 10%;
}
.projeto-container .tituloProjects h3 {
  color: #fff500;
  font-family: "Audiowide", sans-serif;
}
.projeto-container .divProjetos {
  -webkit-animation: show 0.5s linear 0.2s forwards;
          animation: show 0.5s linear 0.2s forwards;
  opacity: 0;
  padding: 10px;
  margin: 260px auto;
  width: 70%;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projeto-container .divProjetos .exitProjects {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  transition: ease 0.3s;
  position: relative;
  top: -100px;
  left: 200px;
}
.projeto-container .divProjetos .exitProjects :hover {
  cursor: pointer;
  transform: scale(1.2);
}
.projeto-container .divProjetos .projetos-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.projeto-container .divProjetos .projetos-area .projects {
  margin: 1.5em;
  display: flex;
}
.projeto-container .divProjetos .projetos-area .projects img {
  width: 500px;
  height: 300px;
  border: solid 2px #fff;
}
.projeto-container .divProjetos .alerta {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}
.projeto-container .divProjetos .btnVejaMais {
  text-align: center;
}
.projeto-container .divProjetos .btnVejaMais button {
  position: relative;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  transition: ease 0.3s;
}
.projeto-container .divProjetos .btnVejaMais button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.493);
  border: 2px solid rgba(255, 255, 255, 0.493);
}
.projeto-container .infoProjects {
  width: 100%;
  position: absolute;
}
.projeto-container .infoProjects button {
  width: 500px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  opacity: 0;
  transition: ease-in-out 0.3s;
  border: none;
  position: relative;
}
.projeto-container .infoProjects button h4 {
  margin-top: 10%;
  font-size: 30px;
  margin-bottom: 20px;
}
.projeto-container .infoProjects button .iconsTechs {
  margin-top: 5%;
}
.projeto-container .infoProjects button .iconsTechs i {
  margin: 5%;
  font-size: 25px;
}
.projeto-container .infoProjects button p {
  margin-top: 10%;
  font-weight: bolder;
  -webkit-animation: pisca-pisca 1.5s linear infinite;
          animation: pisca-pisca 1.5s linear infinite;
  opacity: 1;
}
@-webkit-keyframes pisca-pisca {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca-pisca {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.projeto-container .infoProjects button:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 428px) {
  .imgProject {
    margin-right: 50%;
    margin-top: 25%;
  }
  .imgProject .tituloProject {
    margin-left: 25%;
  }
  .imgProject .tituloProject img {
    width: 150px;
  }
  .imgProject .planProject img {
    width: 250px;
  }

  .projeto-container {
    margin-top: -415%;
    height: 150vh;
    width: 100%;
  }
  .projeto-container .tituloProjects h3 {
    font-size: 30px;
  }
  .projeto-container .divProjetos .projetos-area {
    grid-template-columns: 2fr;
    margin: auto;
    width: 100%;
  }
  .projeto-container .divProjetos .projetos-area .projects {
    margin: 20px auto;
  }
  .projeto-container .divProjetos .projetos-area .projects img {
    width: 350px;
    height: 200px;
  }
  .projeto-container .divProjetos .exitProjects {
    left: 80px;
    top: -50px;
  }
  .projeto-container .divProjetos .infoProjects {
    width: 100%;
  }
  .projeto-container .divProjetos .infoProjects button {
    width: 350px;
    height: 200px;
  }
  .projeto-container .divProjetos .infoProjects button h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .projeto-container .divProjetos .alerta {
    font-size: 18px;
  }
}
.imgContact {
  text-align: right;
  margin-right: 60px;
}
.imgContact .tituloContact {
  margin: 10px 9%;
}
.imgContact .tituloContact img {
  -webkit-animation: zoomTitle ease-in-out infinite 3s;
          animation: zoomTitle ease-in-out infinite 3s;
}
.imgContact .planContact {
  margin-right: 6%;
}
.imgContact .planContact img {
  -webkit-animation: zoomPlanet ease-in-out infinite 3s;
          animation: zoomPlanet ease-in-out infinite 3s;
}
.imgContact .planContact img:hover {
  cursor: pointer;
}

.tituloContactInfo {
  text-align: center;
}
.tituloContactInfo h3 {
  color: #fff500;
  margin: 20px 0 50px 0;
}

.contact-area {
  position: fixed;
  width: 100%;
  height: 120vh;
  margin-top: -195%;
  display: none;
  -webkit-animation: show 0.5s linear 0.2s forwards;
          animation: show 0.5s linear 0.2s forwards;
  opacity: 0;
  z-index: 999;
}
.contact-area .divContact {
  width: 90%;
  margin: 10% auto;
  border-radius: 10px;
}
.contact-area .divContact .exit-contact {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  transition: ease 0.3s;
  position: relative;
  top: -40px;
  left: 40px;
}
.contact-area .divContact .exit-contact :hover {
  cursor: pointer;
  transform: scale(1.2);
}
.contact-area .contactBox {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin: auto;
}
.contact-area .contactBox .text {
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}
.contact-area .contactBox form {
  text-align: center;
  width: 100%;
  position: relative;
  justify-content: center;
}
.contact-area .contactBox form ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form ::placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form .inputs {
  align-items: center;
  margin: 25px auto;
}
.contact-area .contactBox form .inputs .inputName,
.contact-area .contactBox form .inputs .inputTel,
.contact-area .contactBox form .inputs .inputEmail,
.contact-area .contactBox form .inputs .inputAssunto {
  margin-top: 10px;
}
.contact-area .contactBox form .inputs .inputName input,
.contact-area .contactBox form .inputs .inputTel input,
.contact-area .contactBox form .inputs .inputEmail input,
.contact-area .contactBox form .inputs .inputAssunto input {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  width: 510px;
  padding: 10px;
  color: #000;
}
.contact-area .contactBox form .inputs textarea {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  width: 40%;
  height: 185px;
  margin-left: 10px;
  margin-top: 20px;
  color: #000;
  padding: 10px;
}
.contact-area .btnForm {
  margin: auto;
  max-width: 700px;
}
.contact-area .btnForm button {
  background-color: transparent;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  width: 70%;
  margin-bottom: 100px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 25px;
  transition: ease-in-out 0.3s;
}
.contact-area .btnForm button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.555);
  border: 2px solid rgba(255, 255, 255, 0.555);
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 428px) {
  .imgContact {
    margin-top: 25%;
    margin-right: 1px;
  }
  .imgContact .tituloContact {
    margin-right: 15%;
  }
  .imgContact .tituloContact img {
    width: 150px;
  }
  .imgContact .planContact img {
    width: 230px;
  }

  .tituloContactInfo {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 125px 0 20px 0;
    width: 100%;
  }
  .tituloContactInfo h3 {
    font-size: 30px;
  }

  .contact-area {
    margin-top: -460%;
  }
  .contact-area .divContact {
    width: 100%;
  }
  .contact-area .divContact .exit-contact {
    left: 5px;
    top: -90px;
  }
  .contact-area .contactBox {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-area .contactBox .text {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
  }
  .contact-area .contactBox form .inputs .inputName input,
.contact-area .contactBox form .inputs .inputTel input,
.contact-area .contactBox form .inputs .inputEmail input,
.contact-area .contactBox form .inputs .inputAssunto input {
    width: 400px;
  }
  .contact-area .contactBox form .inputs textarea {
    width: 91%;
  }
  .contact-area .btnForm button {
    width: 90%;
  }
}
.confirmaEnvio {
  text-align: left;
  margin: 5%;
}
.confirmaEnvio h1 {
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff500;
}
.confirmaEnvio h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.confirmaEnvio button {
  background-color: rgba(0, 0, 0, 0.534);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 16px;
  transition: ease-in-out 0.3s;
}
.confirmaEnvio button:hover {
  border: 1px solid rgba(255, 255, 255, 0.555);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.555);
}

.footer-info {
  margin-top: 100px;
  padding: 30px;
  background: #000;
  widows: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-info .info-area {
  margin: auto;
}
.footer-info nav {
  display: flex;
}
.footer-info .menu h5 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.footer-info .menuFooter {
  display: flex;
  list-style: none;
}
.footer-info .menuFooter .itensFooter {
  outline: none;
  text-decoration: none;
  font-size: 18px;
  margin-right: 30px;
  color: rgb(136, 135, 135);
  transition: ease 0.3s;
}
.footer-info .menuFooter .itensFooter:hover {
  cursor: pointer;
  color: #fff;
}
.footer-info .contacts h5 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.footer-info .contacts img {
  width: 30px;
  margin-left: 30px;
  transition: ease 0.3s;
}
.footer-info .contacts img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer-info p {
  color: rgb(136, 135, 135);
  margin-top: 50px;
}
.footer-info p a {
  color: rgb(136, 135, 135);
  outline: none;
  text-decoration: none;
}
.footer-info p :hover {
  color: #fff;
}

@media (max-width: 428px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav h5 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contacts {
    margin-top: 10%;
  }
  .contacts .contactsIcon {
    display: flex;
  }
}
* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
  scroll-behavior: smooth;
}
* h3 {
  text-align: center;
  font-size: 50px;
}

body {
  overflow-x: hidden;
  background-image: url("../imagens/banner-fundo.webp");
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
body header {
  padding: 30px;
}
body .banner {
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  margin-top: 200px;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  overflow: hidden;
}
body .banner .banner-img {
  position: absolute;
  width: 100%;
}
body .banner .banner-img img {
  -webkit-animation: banner-zoom 5s ease-in-out 0.5s forwards;
          animation: banner-zoom 5s ease-in-out 0.5s forwards;
  transform: scale(3.5);
}
@-webkit-keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
  }
}
body .banner .imgApresenta {
  margin: auto;
  height: 200px;
  position: relative;
  top: 110px;
  left: 30px;
}
body .banner .imgApresenta img {
  width: 550px;
  -webkit-animation: show 7s linear 2.5s forwards;
          animation: show 7s linear 2.5s forwards;
  opacity: 0;
}

@-webkit-keyframes zoomPlanet {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomPlanet {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomTitle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomTitle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 428px) {
  .banner .banner-img,
.banner .imgApresenta {
    position: absolute;
  }
  .banner .banner-img {
    right: 2px;
  }
  .banner .banner-img img {
    width: 400px;
  }
  .banner .imgApresenta img {
    top: -65px;
    position: relative;
    max-width: 350px;
    right: 30px;
  }
}/*# sourceMappingURL=style.css.map */