@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Permanent+Marker&display=swap");
.menu-nav {
  display: flex;
  list-style: none;
  float: right;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 20px;
  align-items: center;
  opacity: 0;
  -webkit-animation: show-nav 7s linear 0.5s forwards;
          animation: show-nav 7s linear 0.5s forwards;
}
.menu-nav .itens {
  color: #fff;
  outline: none;
  text-decoration: none;
  margin: 0px 20px 0px 0px;
  font-size: 20px;
  font-family: "Cormorant Garamond 600", serif;
  transition: ease;
}

.menu-icons {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  align-items: center;
  opacity: 0;
  -webkit-animation: show-nav 7s linear 0.5s forwards;
          animation: show-nav 7s linear 0.5s forwards;
}
.menu-icons .nav-icons {
  font-size: 25px;
  align-items: center;
  margin: 0px 20px 0px 0px;
  transition: ease;
  cursor: pointer;
  color: #fff;
}

.icone-bars {
  display: none;
}

.nav-icons:hover {
  color: rgb(70, 68, 68);
}

.itens:hover,
.icone-bars:hover {
  color: rgb(179, 175, 175);
}

.imgUrano {
  cursor: pointer;
  text-align: center;
  margin-left: 800px;
}

.conhecimentos-area {
  background-color: hsla(0deg, 0%, 0%, 0.5);
  border: #FFF 1px solid;
  width: 62%;
  height: 60vh;
  position: relative;
  left: 100px;
  margin-top: -300px;
  display: none;
  bottom: 50px;
  padding: 10px;
  border-radius: 10px;
}
.conhecimentos-area .titulo-skills {
  text-align: center;
  margin: auto 200px;
}
.conhecimentos-area .titulo-skills h3 {
  color: #FFF500;
}
.conhecimentos-area .titulo-skills .exit-skills {
  color: #FFF;
  font-weight: bolder;
  border: none;
  background: none;
  font-size: 20px;
  float: right;
  left: 190px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
.conhecimentos-area .skills {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  align-items: center;
  margin-top: 10px;
}
.conhecimentos-area .skills .conhecimentos-box {
  margin: 20px 50px 50px 0px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.imgNetuno {
  margin-top: 20%;
}
.imgNetuno :hover {
  cursor: pointer;
}

.sobre-area .sobre-dev {
  transition: max-height 1s;
  position: relative;
}
.sobre-area .sobre-text {
  display: none;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  border: #FFF solid 1px;
  border-radius: 10px;
  padding: 10px;
  height: 70vh;
  margin: auto;
  margin-bottom: 0;
  position: relative;
  margin-top: -500px;
  width: 40%;
}
.sobre-area .sobre-text h3 {
  color: #FFF500;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.sobre-area .sobre-text p {
  justify-content: center;
  font-size: 20px;
}
.sobre-area .sobre-text .exit {
  color: #FFF;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  padding: 10px;
}

.imgPlanet {
  margin-left: 1%;
}

.projeto-area {
  display: none;
  margin: -550px auto;
  width: 80%;
  padding-top: 10px;
  border: #fff solid 1px;
  text-align: center;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  border-radius: 10px;
  position: relative;
}
.projeto-area .tituloProjects {
  margin-bottom: 50px;
}
.projeto-area .tituloProjects h3 {
  color: #fff500;
}
.projeto-area .tituloProjects .exitProjects {
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  float: right;
  padding: 10px 20px 20px 0;
  font-weight: bolder;
}
.projeto-area .projects-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projeto-area .projects {
  border: #fff solid 2px;
  width: 305px;
  margin: auto;
}
.projeto-area img {
  max-width: 300px;
}
.projeto-area .build {
  margin: 50px auto;
  background-color: #000;
  width: 300px;
  border: #fff solid 2px;
  padding: 10px;
}
.projeto-area .build h4 {
  color: #fff500;
  font-size: 30px;
}
.projeto-area .build img {
  width: 50px;
  margin: 30px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
}
* h3 {
  text-align: center;
  font-size: 50px;
}

body {
  background-image: url("../imagens/banner-fundo.webp");
  background-attachment: fixed;
  background-position: center;
}
body header {
  overflow: hidden;
}
body .banner {
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  margin-top: 200px;
  font-family: "Permanent Marker", cursive;
  color: #fff;
}
body .banner .banner-img {
  width: 100%;
  -webkit-animation: banner-zoom 5s ease-in-out 0.5s forwards;
          animation: banner-zoom 5s ease-in-out 0.5s forwards;
  transform: scale(3.5);
}
@-webkit-keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
    width: 100%;
  }
}
@keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
    width: 100%;
  }
}
body .banner .img-apresenta {
  width: 550px;
  position: relative;
  top: -180px;
  -webkit-animation: show-nav 7s linear 2.5s forwards;
          animation: show-nav 7s linear 2.5s forwards;
  opacity: 0;
}
body .nave-asteroids {
  -webkit-animation: show-nav 7s linear 2.5s forwards;
          animation: show-nav 7s linear 2.5s forwards;
  opacity: 0;
  text-align: center;
}
body .nave-asteroids img {
  margin-top: 100px;
}
@-webkit-keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */