@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "./scss/navbar";
@import "./scss/sobre";
@import "./scss/skills";
@import "./scss/_projects";
@import "./scss/_contact";
@import "./scss/ConfirmaEnvio";
@import "./scss/footer";

$duration-banner: 5;
$delay: 0.5;
$delay-apre: 2.5;

* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
    h3 {
        text-align: center;
        font-size: 50px;
    }
}

body {
    overflow-x: hidden;
    background-image: url("../imagens/banner-fundo.webp");
    background-attachment: fixed;
    background-position: center;
    position: relative;
    header {
        padding: 30px;
    }
    .banner {
        height: 100%;
        margin: auto;
        text-align: center;
        font-size: 25px;
        margin-top: 200px;
        font-family: "Permanent Marker", cursive;
        color: #fff;
        overflow: hidden;
        .banner-img {
            position: absolute;
            width: 100%;

            img {
                animation: banner-zoom ($duration-banner + s) ease-in-out ($delay + s) forwards;
                $delay: $duration-banner + $delay;
                transform: scale(3.5);
            }

            @keyframes banner-zoom {
                0% {
                    transform: scale(3.5);
                }

                100% {
                    transform: scale(1);
                }
            }
        }

        .imgApresenta {
            margin: auto;
            height: 200px;
            position: relative;
            top: 110px;
            left: 30px;

            img {
                width: 550px;
                animation: show ($duration-nav + s) linear ($delay-apre + s) forwards;
                opacity: 0;
            }
        }
    }
}

// animações

// zoom planetas
@keyframes zoomPlanet {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

// zoom titulo
@keyframes zoomTitle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 428px) {
    .banner {
        .banner-img,
        .imgApresenta {
            position: absolute;
        }
        .banner-img {
            right: 2px;
            img {
                width: 400px;
            }
        }
        .imgApresenta {
            img{ 
                top: -65px;
                position:relative;
                max-width: 350px;
                right: 30px
            }
        }
    }
}

@media(max-width:360px){
    .banner{
        .banner-img{
            img{
                width: 350px;
            }
        }
        .imgApresenta{
            img{
                top: -75px;
                max-width: 300px;
            }
        }
    }
}
