@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Permanent+Marker&display=swap");
.menu-nav {
  display: flex;
  list-style: none;
  float: right;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 20px;
  align-items: center;
  opacity: 0;
  -webkit-animation: show-nav 7s linear 0.5s forwards;
          animation: show-nav 7s linear 0.5s forwards;
}
.menu-nav .itens {
  color: #fff;
  outline: none;
  text-decoration: none;
  margin: 0px 50px 0px 0px;
  font-size: 20px;
  font-family: "Cormorant Garamond 600", serif;
  transition: ease 0.5s;
}

.menu-icons {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  align-items: center;
  opacity: 0;
  -webkit-animation: show-nav 7s linear 0.5s forwards;
          animation: show-nav 7s linear 0.5s forwards;
}
.menu-icons .nav-icons {
  font-size: 25px;
  align-items: center;
  margin: 0px 20px 0px 0px;
  transition: ease;
  cursor: pointer;
  color: #fff;
  transition: ease 0.3s;
}

.icone-bars {
  display: none;
}

.nav-icons:hover {
  color: rgb(70, 68, 68);
  transform: scale(1.2);
}

.itens:hover,
.icone-bars:hover {
  transition: ease 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px;
  border-radius: 5px;
}

.imgNetuno {
  margin-top: 20%;
}
.imgNetuno :hover {
  cursor: pointer;
}

.sobre-area .sobre-dev {
  transition: max-height 1s;
}
.sobre-area .divText {
  display: none;
  position: fixed;
  margin-top: -105%;
  padding: 100px;
  width: 100%;
}
.sobre-area .divText .textSobre {
  width: 40%;
  border: #FFF solid 1px;
  border-radius: 10px;
  padding: 10px;
  height: 70vh;
  margin: 50px auto;
}
.sobre-area .divText h3 {
  color: #FFF500;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.sobre-area .divText p {
  justify-content: center;
  font-size: 20px;
}
.sobre-area .divText .exit {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.imgUrano {
  margin-right: 60px;
  text-align: right;
}
.imgUrano :hover {
  cursor: pointer;
}

.conhecimentos-area .skillsDev {
  position: fixed;
  margin-top: -129%;
  padding: 110px;
  width: 100%;
  height: 105vh;
  display: none;
}
.conhecimentos-area .divSkills {
  border: #FFF 1px solid;
  text-align: center;
  padding: 10px;
  width: 60%;
  height: 420px;
  margin: 5px auto;
  border-radius: 10px;
}
.conhecimentos-area .titulo-skills {
  text-align: center;
  margin: auto 200px;
}
.conhecimentos-area .titulo-skills h3 {
  color: #FFF500;
}
.conhecimentos-area .titulo-skills .exit-skills {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  cursor: pointer;
  left: 200px;
  position: relative;
}
.conhecimentos-area .skills {
  text-align: center;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.conhecimentos-area .skills .conhecimentos-box {
  margin: 20px 50px 50px 0px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.imgPlanet {
  margin-left: 1%;
}
.imgPlanet :hover {
  cursor: pointer;
}

.projeto-area {
  display: none;
  width: 100%;
  padding: 100px;
  height: 120vh;
  position: fixed;
  margin-top: -160%;
}
.projeto-area .divProjetos {
  width: 100%;
  padding: 10px;
  border: #fff solid 1px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}
.projeto-area .tituloProjects {
  margin-bottom: 50px;
}
.projeto-area .tituloProjects h3 {
  color: #fff500;
}
.projeto-area .tituloProjects .exitProjects {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  cursor: pointer;
}
.projeto-area .projects-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projeto-area .projects {
  border: #fff solid 2px;
  width: 305px;
  margin: auto;
}
.projeto-area img {
  max-width: 300px;
}
.projeto-area .build {
  margin: 50px auto;
  background-color: #000;
  width: 300px;
  border: #fff solid 2px;
  padding: 10px;
}
.projeto-area .build h4 {
  color: #fff500;
  font-size: 30px;
}
.projeto-area .build img {
  width: 50px;
  margin: 30px;
}

.imgContact {
  text-align: right;
  margin-right: 60px;
}
.imgContact :hover {
  cursor: pointer;
}

.tituloContact h3 {
  color: #fff500;
  margin-top: 20px;
}
.tituloContact .exit-contact {
  font-weight: bolder;
  float: right;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.contact-area {
  position: fixed;
  width: 100%;
  height: 110vh;
  padding: 110px;
  margin-top: -185%;
  display: none;
}
.contact-area .divContact {
  border: #FFF 1px solid;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
}
.contact-area .contactBox {
  align-items: center;
  margin: auto 0 30px;
}
.contact-area .contactBox .text {
  text-align: center;
  margin: 30px 0 20px 0;
  font-weight: bolder;
}
.contact-area .contactBox form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-area .contactBox form ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form ::placeholder {
  color: rgba(0, 0, 0, 0.788);
}
.contact-area .contactBox form .inputs {
  align-items: center;
  margin-top: 25px;
}
.contact-area .contactBox form .inputs .inputName,
.contact-area .contactBox form .inputs .inputTel,
.contact-area .contactBox form .inputs .inputEmail,
.contact-area .contactBox form .inputs .inputAssunto {
  margin-top: 10px;
}
.contact-area .contactBox form .inputs .inputName input,
.contact-area .contactBox form .inputs .inputTel input,
.contact-area .contactBox form .inputs .inputEmail input,
.contact-area .contactBox form .inputs .inputAssunto input {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  color: #000;
}
.contact-area .contactBox form textarea {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  width: 40%;
  height: 185px;
  margin-left: 10px;
  margin-top: 35px;
  color: #000;
  padding: 10px;
}
.contact-area .btnForm {
  margin: auto;
  max-width: 700px;
}
.contact-area .btnForm button {
  background-color: #000;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 25px;
}

.imgGame {
  text-align: center;
  margin: 600px 0 100px 0;
}
.imgGame img {
  width: 250px;
}

.footer-info {
  background-color: #000;
  text-align: center;
  align-items: center;
}
.footer-info nav {
  display: flex;
}
.footer-info .menuFooter {
  display: flex;
  list-style: none;
  margin: 30px 0 0 300px;
}
.footer-info .menuFooter .itensFooter {
  outline: none;
  text-decoration: none;
  font-size: 18px;
  margin-right: 30px;
  color: rgb(136, 135, 135);
  transition: ease 0.3s;
}
.footer-info .menuFooter .itensFooter:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
}
.footer-info .contacts {
  margin: 25px 0 30px 200px;
}
.footer-info .contacts img {
  width: 30px;
  margin-left: 30px;
  transition: ease 0.3s;
}
.footer-info .contacts img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer-info p {
  color: rgb(136, 135, 135);
  padding-bottom: 3 0px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
}
* h3 {
  text-align: center;
  font-size: 50px;
}

body {
  background-image: url("../imagens/banner-fundo.webp");
  background-attachment: fixed;
  background-position: center;
}
body header {
  overflow: hidden;
}
body .banner {
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  margin-top: 200px;
  font-family: "Permanent Marker", cursive;
  color: #fff;
}
body .banner .banner-img {
  width: 100%;
  -webkit-animation: banner-zoom 5s ease-in-out 0.5s forwards;
          animation: banner-zoom 5s ease-in-out 0.5s forwards;
  transform: scale(3.5);
}
@-webkit-keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
    width: 100%;
  }
}
@keyframes banner-zoom {
  0% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
    width: 100%;
  }
}
body .banner .img-apresenta {
  width: 550px;
  position: relative;
  top: -180px;
  -webkit-animation: show-nav 7s linear 2.5s forwards;
          animation: show-nav 7s linear 2.5s forwards;
  opacity: 0;
}
body .nave-asteroids {
  -webkit-animation: show-nav 7s linear 2.5s forwards;
          animation: show-nav 7s linear 2.5s forwards;
  opacity: 0;
  text-align: center;
}
body .nave-asteroids img {
  margin-top: 100px;
}
@-webkit-keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */